<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Receptio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Statistics" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.MachineLearning" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Imaging" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Receptio.My.MySettings>
      <setting name="SMTPServerName" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="SMTPUserName" serializeAs="String">
        <value>user@gmail.com</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="EnableSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value>user@gmail.com</value>
      </setting>
      <setting name="Authentication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SystemPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationName" serializeAs="String">
        <value>Front Lobby</value>
      </setting>
      <setting name="SelectCamera" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WelcomeText" serializeAs="String">
        <value>Hello. All visitors please sign
in and out here.</value>
      </setting>
      <setting name="SignInInstructions" serializeAs="String">
        <value>Please start by entering your information.
Click the picture to take your webcam
photo and announce your arrival. Thank you.</value>
      </setting>
      <setting name="NameText" serializeAs="String">
        <value>Your Name</value>
      </setting>
      <setting name="CompanyText" serializeAs="String">
        <value>Your Company</value>
      </setting>
      <setting name="VisitingText" serializeAs="String">
        <value>Who are you here to see?</value>
      </setting>
      <setting name="SignInButtonText" serializeAs="String">
        <value>Sign In</value>
      </setting>
      <setting name="SignOutButtonText" serializeAs="String">
        <value>Sign Out</value>
      </setting>
      <setting name="BackgroundImage" serializeAs="String">
        <value />
      </setting>
      <setting name="WelcomeBackgroundColor" serializeAs="String">
        <value>15, 48, 99</value>
      </setting>
      <setting name="FontColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="VisitorLogLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="SignOutText" serializeAs="String">
        <value>Thank you for signing out</value>
      </setting>
      <setting name="NotifyText" serializeAs="String">
        <value>%u has been notified</value>
      </setting>
      <setting name="FontName" serializeAs="String">
        <value>Century Gothic, 14pt</value>
      </setting>
      <setting name="UseMotionDetection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WelcomeMessage" serializeAs="String">
        <value>Hello.  All visitors please sign in and out here.</value>
      </setting>
      <setting name="MotionSensitivity" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="VideoSource" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EmailNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailText" serializeAs="String">
        <value>Your E-mail Address</value>
      </setting>
      <setting name="EmailVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompanyVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisitorBadgePrinting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmployeeDirectoryLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="MotionDelay" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MailChimpAPIKey" serializeAs="String">
        <value />
      </setting>
      <setting name="MailChimpListID" serializeAs="String">
        <value />
      </setting>
      <setting name="UseMailChimp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CameraResolutionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SnapshotResolutionIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseFaceDetection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseTouchUI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrinterIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CompanyLogo" serializeAs="String">
        <value />
      </setting>
      <setting name="SignOutInstructions" serializeAs="String">
        <value>Please scan your visitor badge or select
your name and click your picture. Thank You.</value>
      </setting>
      <setting name="SignOutVisitor" serializeAs="String">
        <value>Please select your name</value>
      </setting>
      <setting name="SignInButtonColor" serializeAs="String">
        <value>0, 100, 255</value>
      </setting>
      <setting name="SignInBackgroundColor" serializeAs="String">
        <value>15, 48, 99</value>
      </setting>
      <setting name="SignOutBackgroundColor" serializeAs="String">
        <value>15, 48, 99</value>
      </setting>
      <setting name="SignOutButtonColor" serializeAs="String">
        <value>0, 100, 255</value>
      </setting>
      <setting name="UseVisitorDetection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailServerType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FaceDetectionSensitivity" serializeAs="String">
        <value>4</value>
      </setting>
    </Receptio.My.MySettings>
  </userSettings>
</configuration>